#firebase-notifications-meta-box{

	.is-loading,
	.error-display,
	.result-display{
		display: none;
	}
	.is-loading,
	.result-display{
		margin-top: 1em;
	}

	&.is-sending{

		.is-loading{
			display: block;
			&:after{
				margin-left: 4px;
				font-style: italic;
				content:".";
				animation-name: loading;
				animation-duration: .6s;
				animation-iteration-count: infinite;
				animation-direction: normal;
			}
		}

		#firebase-notifications-submit{
			display: none;
		}

	}
	&.was-sent{
		.result-display{
			display: block;
		}
		#firebase-notifications-submit{
			display: none;
		}
	}
	&.has-error{

		.error-display{
			margin-left: 8px;
			display: inline-block;
			&:before{
				content:"🚨";
			}
		}

		#firebase-notifications-submit{
			//display: none;
		}
	}

	.firebase-notifications__history{
		li{
			margin: 0;
			padding: 5px;
		}
		li:nth-child(odd){
			background-color: #efefef;
		}
	}
	.firebase-notifications__history--item{
		display: flex;
		justify-content: space-between;
		.history-item__title{

		}
		.history-item__date{

		}
	}

}

@keyframes loading {
	0% {
		content: "…";
	}
	30% {
		content: "⋰";
	}
	60% {
		content: "⋮"
	}
	100%{
		content: "⋱"
	}
}